<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cabbagelye.login.simple.dao.SimpleLoginDao">

    <!---->
    <select id="login" resultType="com.cabbagelye.login.model.User">
        select * from user where zt = 0 and user_name = #{username} and pass_word = #{password}
    </select>

    <select id="getStudentInfo" resultType="java.lang.String">
        select id from student where stu_no = #{stuNo}
    </select>




</mapper>