<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cabbagelye.login.simple.dao.TestLoginDao">


    <!--获取当天最后注册的序号-->
    <select id="findMaxSerialNumByDay" resultType="java.lang.String">
        select max(serial_num) from user where zt = 1 and create_time > #{today}
    </select>

    <!--根据账号获取用户信息-->
    <select id="getUserInfo" resultType="com.cabbagelye.login.model.User">
        select * from user where zt = 1 and account = #{account}
    </select>


</mapper>